/*
	The page background is set to grey by default.
*/
html, body {
	background-color: lightgrey;
}

/* Makes dialog boxes appear above other elements, 
also makes the background inactive while a dialog
box is open. */
.ui-dialog, .ui-front {

	z-index: 10000 !important;
}

/* Div that contains the application name. */
#app_name {
	text-align: center;
}

/* Application name text. */
#app_name h2 {
	font-weight: bold;
}

/* 
	Contains all of the application options (create new document,
	change editing mode, etc.) 
*/
#toolbar {
	position: fixed; /* keeps toolbar at top of the page */
	top: 0;
	left: 0;
	z-index: 1;
}

/* 
	This element is hidden, this file-input button is invoked
	when the 'Select Image' button is clicked.
*/
#image_select {
	display: none;
}

/*
	The page_body div contains:
		- ODK Scan document
		- Properties sidebar
		- Loaded images
*/
#page_body {
	margin-top: 20px;
}

/* 	Sidebar which allows the user to add/modify/delete
	properties belonging to form elements and images
	that are added to the ODK Scan doc.
*/
#prop_sidebar {
	width: 275px; /* TODO: remove hard-coded value */
	background-color: white;
	border: 1px solid black;
	text-align: center;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

/*	Contains the default text when a field
	is not selected in the document.
*/
#default_prop_message {
	background-color: lightgray;
	height: 200px;
	outline: 1px dashed;
	width: 220px;
	display: inline-block;
	vertical-align: middle;
}

#default_prop_message h4 {
	margin-top: 55px; /* TODO: remove hard-coded value */
}

/* A div container for the ODK Scan doc. */
#scan_doc {
	border: 2px solid black;
	background-color: white;
	float: left;
	margin-left: 15px;
	margin-right: 30px;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}

/* A div container for images that are added to the page_body. */
#image_area {
	position: absolute;
	display: inline-block;
	float: left;
}

/* 	Makes the area that surrounds the selected region darker
	in order to highlight the selected region. 
*/
.imgareaselect-outer {
	background-color: black;
	opacity: 0.5;
}

/* contains the link to the saved zip file */
#zip_link {
	display: none;
}

/* contains the link to the saved scan json */
#scan_json_link {
	display: none;
}


/* added to all integer input boxes */
.int_input {
	width: 40px;
	float: right;
}

/* limits the margin on horizontal dividers */
.horz_divider {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* aligns dropdown buttons to the right of the page */
select {
	float: right;
}

/* aligns input boxes to the right of the page */
input[type=text], input[type=number] {
	float: right;
	margin-left: 15px;
}

/* set default width on text input boxes */
input[type=text]{
	width: 160px;
}

#update_prop, #load_prop {
	margin: 15px;
}

/************************************************************
*  Scan Document Sizes
************************************************************/

.letter_size {
	width: 8.5in;
	height: 11in;
}

.legal_size {
	width: 8.5in;
	height: 14in;
}

.index_size {
	width: 8in;
	height: 5in;
}

/************************************************************
*  Field Elements
************************************************************/
.selected_field {
	background-color: rgba(7, 197, 223, 0.41);
}

.img_div {
	overflow: hidden;
	position: absolute;
}

.img_div:hover {
	border: 1px dashed black;
}

.img_div img {
	position: relative;
	width: 100%;
	height: 100%;
}

.box {
	position: absolute;
	border-style: solid;
	border-color: black;
}

.box p{
	text-align: center;
}

.cb_div {
	display: inline-block;
	border-style: solid;
	border-color: black;
}

.c_box {
	border: 1px solid black;
	float: left;
}

.bubble_div {
	display: inline-block;
	border-style: solid;
	border-color: black;
}

.bubble_small {
	border: 1px solid black;
	float: left;
	border-radius: 5px;
}

.bubble_med {
	border: 1px solid black;
	float: left;
	border-radius: 8px;
}

.bubble_large {
	border: 1px solid black;
	float: left;
	border-radius: 13px;
}

.num_div {
	display: inline-block;
	border-style: solid;
	border-color: black;
}

.num {
	border: 1px solid black;
	float: left;
	position: relative;
}

.num_group {
	float: left;
}

.dot {
	position: absolute;
	background-color: black;
}
